html,body,div,ul,li,svg{
    margin:0;
    padding:0;
    list-style:none;
}

/*------------Global-------------*/
html,body{
    height: 100%;
    position: relative;
}

.container .section{
    width:100%;
}
.container .canvas{
    width:100%;
    background:white;
    height:700px;
}
.container .controls{
    margin-bottom:20px;
}

/*-----------tooltip-----------*/
.custom-tooltip{
    position:absolute;
    background-color: rgba(250,250,250,.5);
    width:150px;
    min-height:10px;
    padding-left: 10px;
}
.custom-tooltip p{
    font-size: 10px;
    font-family:'MaisonNeue', sans-serif;
}
.tooltip h1{
    font-size: 15px;
}
.num{
    font-size: 15px;
    font-family:'MaisonNeue', sans-serif;
}

/*------------font-------------*/
body{
    font-size: 16px;
}
h1{ font-size:2em;}
h2{ font-size:1.3em;}
p, svg text{
    font-family:'MaisonNeue', sans-serif;
}

.axis{
    font-size:.5em;
    opacity: .5;
    
}

@font-face{
    font-family:MaisonNeue;
    font-weight:bold;
    src:url("./fonts/maisonneue/MaisonNeueTRIAL-Bold.otf");
}
@font-face{
    font-family:MaisonNeue;
    font-weight:normal;
    src:url("./fonts/maisonneue/MaisonNeueTRIAL-Demi.otf");
}
/*------------map-------------*/
.state {
    opacity: .8;
    stroke:white;
    stroke-width:1px;
}
